<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>scheduler result</title>
    <link rel="stylesheet" href="css/results.css">
    
  </head>
  <body>
  <h1><%=@the_name%> 
  <img src= "<%=@the_monday_answer_1%>" />
  <img src= "<%=@the_tuesday_answer_1%>" /> 
  <img src= "<%=@the_wednesday_answer_1%>" /> 
  <img src= "<%=@the_thursday_answer_1%>" /> 
  <img src= "<%=@the_friday_answer_1%>" /> 
  <img src= "<%=@the_saturday_answer_1%>" /> 
  <img src= "<%=@the_sunday_answer_1%>" /> 
  </h1>
  
  <h1><%=@the_name_2%> 
  <img src= "<%=@the_monday_answer_2%>" /> 
  <img src= "<%=@the_tuesday_answer_2%>" /> 
  <img src= "<%=@the_wednesday_answer_2%>" /> 
  <img src= "<%=@the_thursday_answer_2%>" /> 
  <img src= "<%=@the_friday_answer_2%>" /> 
  <img src= "<%=@the_saturday_answer_2%>" /> 
  <img src= "<%=@the_sunday_answer_2%>" /> 
  </h1>

   <h1><%=@the_name_3%>  
  <img src= "<%=@the_monday_answer_3%>" /> 
  <img src= "<%=@the_tuesday_answer_3%>" /> 
  <img src= "<%=@the_wednesday_answer_3%>" /> 
  <img src= "<%=@the_thursday_answer_3%>" /> 
  <img src= "<%=@the_friday_answer_3%>" /> 
  <img src= "<%=@the_saturday_answer_3%>" /> 
  <img src= "<%=@the_sunday_answer_3%>" /> 
  </h1>
  
  <h1><%=@the_name_4%> 
  <img src= "<%=@the_monday_answer_4%>" /> 
  <img src= "<%=@the_tuesday_answer_4%>" /> 
  <img src= "<%=@the_wednesday_answer_4%>" /> 
  <img src= "<%=@the_thursday_answer_4%>" /> 
  <img src= "<%=@the_friday_answer_4%>" /> 
  <img src= "<%=@the_saturday_answer_4%>" /> 
  <img src= "<%=@the_sunday_answer_4%>" /> 
  </h1>
   
  <h1><%=@the_name_5%> 
  <img src= "<%=@the_monday_answer_5%>" /> 
  <img src= "<%=@the_tuesday_answer_5%>" /> 
  <img src= "<%=@the_wednesday_answer_5%>" /> 
  <img src= "<%=@the_thursday_answer_5%>" /> 
  <img src= "<%=@the_friday_answer_5%>" /> 
  <img src= "<%=@the_saturday_answer_5%>" /> 
  <img src= "<%=@the_sunday_answer_5%>" /> 
  </h1>
  
  </body>
</html>